@charset "utf-8";

/* 共通設定
----------------------- */
html {
    background-image: url(../images/paper.png);
    background-repeat: repeat;
    font-family: 'Sawarabi Gothic', sans-serif;
}

/* nav */
.gnav {
    max-width: 1200px;
    display: flex;
    display: block;
    align-items: flex-end;
    justify-content: space-between;
    margin-top: 50px;
}


.gnav__list {
    display: flex;
    list-style-type: none;
}

.gnav__list img {
    width: 20%;
    margin: auto;
}

.gnav__item {
    font-size: 1.5rem;
    margin-left: 100px;
}

.gnav__link {
    display: flex;
    flex-direction: column-reverse;
    text-align: center;
    color: #333;
    text-decoration: none;
}

.gnav__link a {
    text-align: center;
}
/*==================================================
　5-2-2 2本線が×に
===================================*/

/*ボタン外側※レイアウトによってpositionや形状は適宜変更してください*/
.openbtn{
	/*ボタン内側の基点となるためrelativeを指定。
追従するナビゲーションの場合はfixed＋top、rightといった位置をセットで指定*/
	position: relative;
	width: 50px;
    height:50px;
	cursor: pointer;
	background:#fff;
}
	
/*ボタン内側*/

.openbtn span{
    display: inline-block;
    transition: all .4s;/*アニメーションの設定*/
    position: absolute;
    left: 13px;
    height: 2px;
	background-color: #666;
  }


.openbtn span:nth-of-type(1) {
	top:22px;	
  	width: 50%;
}

.openbtn span:nth-of-type(2) {
	top:29px;
  	width:30%;
}

/*activeクラスが付与されると線が回転して×に*/

.openbtn.active span:nth-of-type(1) {
    top: 20px;
    left: 16px;
    transform: translateY(6px) rotate(-45deg);
    width: 35%;
}

.openbtn.active span:nth-of-type(2) {
    top: 32px;
    left: 16px;
    transform: translateY(-6px) rotate(45deg);
    width: 35%;
}
/*==================================================
　5-3-1 中心から外に線が伸びる（下部）
===================================*/

.gnav li a{
    /*線の基点とするためrelativeを指定*/
	position: relative;
}

.gnav li.current a,
.gnav li a:hover{
	color:#333;
}

.gnav li a::after {
    content: '';
    /*絶対配置で線の位置を決める*/
    position: absolute;
    bottom: 0;
    left: 25%;
    /*線の形状*/
    width: 50%;
    height: 1.5px;
    background:#333;
    /*アニメーションの指定*/
    transition: all .1s;
    transform: scale(0, 1);/*X方向0、Y方向1*/
    transform-origin: center top;/*上部中央基点*/
}

/*現在地とhoverの設定*/
.gnav li a:hover::after {
    transform: scale(1, 1);/*X方向にスケール拡大*/
}


/* footer */
footer p {
    background-color: #7FF1EA;
    text-align: center;
}

.sitemap {
    position: absolute;
    right: 150px;
    bottom: 20px;
}

.sitemap li {
    font-size: 1.1rem;
    list-style-type: none;
    margin: 10px 0;
}

.sitemap a {
    text-decoration: none;
    color: #333;
}



/* 共通設定
----------------------- */
@media(max-width: 430px) {
    /*メインビジュアル*/
    .mainvisual
    /*gnav*/
    .gnav {
        display: none;
    }
}
