@charset "utf-8";

/* 共通設定
----------------------- */
html {
    background-image: url(../images/paper.png);
    font-family: 'Sawarabi Gothic', sans-serif;
}

/* nav */
.gnav {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    /* position: fixed; */
}


.gnav__list {
    display: flex;
    list-style-type: none;
    margin-top: 30px;
}

.gnav__list img {
    width: 30%;
    margin: auto;
}

.gnav__item {
    font-size: 1.5rem;
    margin-left: 100px;
}

.gnav__link {
    display: flex;
    flex-direction: column-reverse;
    text-align: center;
    color: #333;
    text-decoration: none;
}

.gnav__link a {
    text-align: center;
}

/*==================================================
　5-3-1 中心から外に線が伸びる（下部）
===================================*/

.gnav li a{
    /*線の基点とするためrelativeを指定*/
	position: relative;
}

.gnav li.current a,
.gnav li a:hover{
	color:#333;
}

.gnav li a::after {
    content: '';
    /*絶対配置で線の位置を決める*/
    position: absolute;
    top: 0;
    left: 0%;
    /*線の形状*/
    width: 100%;
    height: 1.5px;
    background:#0481A2;
    /*アニメーションの指定*/
    transition: all .4s;
    transform: scale(0, 1);/*X方向0、Y方向1*/
    transform-origin: center top;/*上部中央基点*/
}

/*現在地とhoverの設定*/
.gnav li a:hover::after {
    transform: scale(1, 1);/*X方向にスケール拡大*/
}


/* footer */
.topbtn {
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 101;
}

footer {
    position: relative;

    /* background-size: cover;
    background-attachment: fixed; */
    /* height: 100vh; */
    z-index: 100;
}

footer::before {
    content: "";
    position: absolute;
    background: url(../images/footer.png);
    background-position: center bottom;
    background-repeat: no-repeat;
    width: 100%;
    height: 964px;
    top: -964px;
    left: 0;
    background-size: contain;
}

footer p {
    background-color: #7FF1EA;
    text-align: center;
}

.sitemap {
    position: absolute;
    right: 150px;
    bottom: 20px;
}

.sitemap li {
    list-style-type: none;
    margin: 10px 0;
}

.sitemap a {
    text-decoration: none;
    color: #333;
}

/* 共通設定
----------------------- */
@media(max-width: 430px) {
    /*gnav*/
    
}
