@charset "utf-8";

/* 共通設定
----------------------- */
.wapper {
    max-width: 1200px;
    height: auto;
    margin: 0 auto;
}

.top {
    display: flex;
    justify-content: space-between;
}


h1 {
    display: block;
    width: 8%;
    margin-top: 30px;
    margin-left: 30px;
}



h2 {
    text-align: center;
    font-size: 1.5rem;
    color: #333;
    letter-spacing: 0.08em;
}

.text-title {
    font-size: 3.75rem;
    letter-spacing: 0.05em;
    opacity: 0.6;
    margin-right: 1rem;
    margin-left: 30px;
}

h2,
h3,
p {
    color: #333;
}

h3 {
    font-size: 1.6rem;
    margin-top: 50px;
    letter-spacing: 0.05em;
}

p {
    font-size: 1.1rem;
    word-wrap: break-word
}

img {
    max-width: 100%;
    vertical-align: bottom;
}

/* header */
.mainvisual-pc {
    height: 100vh;
}

/* 下から */

.fadeUp {
    animation-name: fadeUpAnime;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    opacity: 0;
}

@keyframes fadeUpAnime {
    from {
        opacity: 0;
        transform: translateY(100px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.mainvisual-pc {
    /* margin: 0 auto; */
    margin-top: 50px;
}

.mainvisual-pc img {
    width: 50%;
    display: block;
    margin: auto;

}

/****--------- ふりこ ---------****/
.pendulum{
    transform-origin:bottom;
    -webkit-transform-origin:bottom;
    -moz-transform-origin:bottom;
    animation:pendulum ease-in-out 3s infinite alternate;
    -webkit-animation:pendulum ease-in-out 3s infinite alternate;
    -moz-animation:pendulum ease-in-out 3s infinite alternate;
   }
  @keyframes pendulum{
    0%{transform: rotate(5deg);}
    100%{transform: rotate(-5deg);}
  }
  @-webkit-keyframes pendulum{
    0%{-webkit-transform: rotate(5deg);}
    100%{-webkit-transform: rotate(-5deg);}
  }
  @-moz-keyframes pendulum{
    0%{-moz-transform: rotate(5deg);}
    100%{-moz-transform: rotate(-5deg);}
  }

.title-sp img,
.mainvisual-sp img {
    display: none;
}

.about-title,
.skill-title,
.works-title,
.contact-title {
    display: flex;
    align-items: center;
    justify-content: left;
}

.about-title::before,
.skill-title::before,
.works-title::before,
.contact-title::before {
    border-top: 1px solid #333;
    content: "";
    width: 100px;
    /* 線の長さ */
}

/* アニメーションスタートの遅延時間を決めるCSS*/

.delay-time02 {
    animation-delay: 0.2s;
}

.delay-time04 {
    animation-delay: 0.4s;
}
.delay-time06 {
    animation-delay: 0.6s;
}

/*==================================================
    スタート時は要素自体を透過0にするためのopacity:0;を指定する
    ===================================*/

.box {
    opacity: 0;
}

/*==================================================
    動き自体の指定：「ふわっ」
    ===================================*/

.fadeUp {
    animation-name: fadeUpAnime;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    opacity: 0;
}

@keyframes fadeUpAnime {
    from {
        opacity: 0;
        transform: translateY(100px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.delay-time1{
    animation-delay: 1s;
    }

/* アニメーションスタートの遅延時間を決めるCSS*/

.delay-time02{
    animation-delay: 0.2s;
    }
    
    .delay-time04{
    animation-delay: 0.4s;
    }
    
    .delay-time06{
        animation-delay: 0.6s;
        }

.timing-linear{
    animation-timing-function:linear; 
    }

/*==================================================
スタート時は要素自体を透過0にするためのopacity:0;を指定する
===================================*/

.box{
	opacity: 0;
}

/* about */
.about {
    height: 100vh;
    margin: 100px 0;
}

.about-title {
    margin-bottom: 80px;
}

.about ul {
    background-image: url(../images/triangle.png);
    background-position: 175px 15px;
    width: 60%;
}

.about-img {
    margin-top: 30px;
    max-width: 423px;
}
.about-img img{
    width: 80%;
}

.about-box {
    display: flex;
    flex-direction: row-reverse;
    background-repeat: no-repeat;
}

.about li {
    font-size: 1rem;
    list-style-type: none;
    margin-bottom: 10px;
    margin-left: 30px;
    margin-right: 50px;
}



/****--------- ふわふわ ---------****/
.fwari{
    animation:fwari ease-in-out 2s infinite alternate;
    -webkit-animation:fwari ease-in-out 2s infinite alternate;
    -moz-animation:fwari ease-in-out 2s infinite alternate;
  }
  @keyframes fwari{
    0%   { transform:translate(0%, 0%); }
    100% { transform:translate(0%, -30px); }
  }
  @-webkit-keyframes fwari{
    0%   { -webkit-transform:translate(0%, 0%); }
    100% { -webkit-transform:translate(0%, -30px); }
  }
  
  @-moz-keyframes fwari{
    0%   { -moz-transform:translate(0%, 0%); }
    100% { -moz-transform:translate(0%, -30px); }
  }
  

/* Skill */
.skill {
    margin-top: 10px;
    margin-bottom: 180px;
}

.skill h2 {
    margin-left: 30px;
}

.skill-box h3:first-child {
    margin-top: 0;
}

.skill-box {
    background-color: rgba(206,164,239,.6);
    border-radius: 1rem;
    margin-top: 80px;
    padding: 50px 50px;
}

.rectangle,
.rectangle2 {
    display: flex;
    justify-content: space-between;
}

.rectangle2 h3 {
    margin-top: 30px;
}

.text-layout {
    background-color: #F9F8F4;
    border-radius: 1rem;
    font-size: 1rem;
    list-style-type: none;
    padding: 30px 20px;
    margin-right: 30px;
    margin: 30px 30px 50px 0;
}

.text-bold {
    font-size: 1.4rem;
    font-weight: bold;
    letter-spacing: 0.05em;
}

.tool-layout {
    background-color: #F9F8F4;
    border-radius: 1rem;
    text-align: center;
    padding: 30px 0;
    margin-right: 30px;
    margin-top: 30px;
    margin-bottom: 50px;
}

.tool-layout img,
.office-layout img{
    width: 70%;
}

.office-layout {
    width: 20%;
    background-color: #F9F8F4;
    border-radius: 1rem;
    text-align: center;
    padding: 30px 20px;
    margin-top: 30px;
    margin-bottom: 50px;
}

/* Works */
.works-img {
    margin-top: 90px;
}

.works-img img {
    width: 20%;
    margin: 0 auto;
}

.works img {
    display: block;
    max-width: 100%;
    margin-bottom: 10px;
}

.works-box {
    height: auto;
    background-color: rgba(243,173,194,.6);
    padding-top: 50px;
    padding-bottom: 30px;
    margin-bottom: 100px;
}

.works h3 {
    margin-left: 50px;
}

.works-text {
    font-size: 1.1rem;
    padding-top: 80px;
}

.contents-text {
    font-size: 1.25rem;
    text-align: center;
}

.works p {
    padding-left: 20px;
    padding: 0px 20px 0;
    letter-spacing: 0.05em;
}

/*作品詳細のボタン*/
.works-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45%;
    height: 37px;
    position: relative;
    top: 8px;
    left: 160px;
    border: 1px solid #333;
    border-radius: 30px;
    box-sizing: border-box;
    padding: 7px 50px 0 25px;
    color: #333;
    font-size: 1rem;
    letter-spacing: 0.1em;
    line-height: 1.3;
    text-align: left;
    text-decoration: none;
    transition-duration: 0.3s;
  }
  .works-btn:before {
    content: '';
    width: 8px;
    height: 8px;
    border: 0;
    border-top: 2px solid #333;
    border-right: 2px solid #333;
    transform: rotate(45deg);
    position: absolute;
    top: 50%;
    right: 25px;
    margin-top: -3px;
  }
  .works-btn:hover {
    background: #333;
    color: #F9F8F4;
  }
  .works-btn:hover:before {
    border-top: 2px solid #F9F8F4;
    border-right: 2px solid #F9F8F4;
  }


.site-list,
.banner-list,
.other-list {
    display: flex;
    flex-wrap: wrap;
}

.contents {
    display: flex;
    width: 370px;
    flex-direction: column;
    margin-top: 20px;
}

.contents a {
    display: block;
    margin-right: 20px;
}

.contents p {
    padding-top: 10px;
}

.move {
    width: 332px;
    height: 270px;
    object-fit: contain;
}

.site-list a,
.banner-list a,
.other-list a {
    display: block;
    font-size: 1rem;
    color: #333;
    text-align: right;
    margin-left: 20px;
}

.site-list p,
.banner-list p,
.other-list p {
    padding-top: 0;
}

.other-list {
    margin-bottom: 100px;
}

/* Contact */
.contact {
    margin-top: 100px;
    padding-bottom: 440px;
}

/* form */
form {
    width: 40%;
    margin: 0 auto;

}

form p {
    margin-top: 50px;
    margin-bottom: 5px;
    font-size: 1rem;
}

.form-box label span {
    color: #F9F8F4;
    background-color: #F3ADC2;
    font-size: 0.8rem;
    border-radius: 3px;
    margin-right: 1rem;
    padding: 2px 5px 3px 5px;;
}

input[type="text"],
input[type="email"],
textarea {
    background-color: #F9F8F4;
    border: 1px solid #333;
    border-radius: 5px;
    font-size: 1rem;
}

input[type="text"],
input[type="email"] {
    width: 100%;
    max-width: 240px;
    height: 2.5rem;
}

input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
    box-shadow: 0 0 7px #333;
    border: 1px solid #333;
}

textarea {
    width: 100%;
    max-width: 480px;
    height: 6rem;
}


footer {
    position: relative;
    z-index: 100;
    height: 180px;
    background-color: #00AFCC;
}

/*footer*/
footer::before {
    content: "";
    position: absolute;
    background-image: url(../images/footer.png);
    background-position: center bottom;
    background-repeat: no-repeat;
    width: 100%;
    height: 300px;
    top: -300px;
    left: 0;
    background-size: cover;
}

footer p{
    padding-top: 140px;
    background-color: #00AFCC;
}

    /* 共通設定
----------------------- */
@media(max-width: 960px) {
    .wapper {
        max-width: 845px;
    }
    .mainvisual-pc img {
        width: 85%;
    }

    .mainvisual-pc {
        height: auto;
    }

    .about-title, .skill-title, .works-title, .contact-title {
        margin-bottom: 60px;
    }


    /*about*/
    .about {
        height: auto;
    }

    .about ul {
        width: 100%;
        background-position: 270px 36px;
    }

    .about li:first-child {
        margin-top: 70px;
    }


    .about-box {
        display: flex;
        flex-direction: column-reverse;
        background-repeat: no-repeat;
        align-items: center;
    }

    .about-img {
        text-align: center;
    }
    .about-img img {
        width: 60%;
    }

    /*skill*/
    .skill {
        margin-bottom: 130px;
    }

    .skill-box h3 {
        margin-top: 0;
    }

    .skill-title {
        margin-top: 100px;
    }

    .tool-layout img,
    .office-layout img {
        width: 40%;
    }

    /*works*/
    .site-list,
    .banner-list,
    .other-list {
    display: flex;
}
    .contents {
        margin-top: 30px;
    }

    .works-img img {
    width: 30%;
    margin: 0 auto;
}

}

/* 共通設定
----------------------- */
@media(max-width: 435px) {
    /*共通*/
    .wapper {
        max-width: 365px;
    }

    h1 {
        display: none;
    }

    h2 {
        font-size: 1rem;
    }

    .about-title::before,
    .skill-title::before,
    .works-title::before,
    .contact-title::before {
        content: "";
        width: 25px;
    }

    .about-img {
        margin-top: 50px;
    }

    img {
        display: block;
        margin: 0 auto;
    }

    /*メインビジュアル*/
    .mainvisual-pc img {
        display: none;
    }

    .title-sp img,
    .mainvisual-sp img {
        display: block;
        width: 80%;
    }

    .title-sp {
        margin-top: 55px;
        margin-bottom: 30px;
    }


    /*gnav*/
    .gnav {
        display: none;
    }

    /*about*/
    .text-title {
        font-size: 2.5rem;
        opacity: 0.6;
        margin-right: 1rem;
        margin-left: 16px;
    }

    .about {
        height: auto;
    }

    .about-img img {
        width: 60%;
    }

    .about-title {
        margin-top: 110px;
        margin-bottom: 50px;
    }
    
    .about h2 {
        margin-left: -1px;
    }

    .about ul {
        background-position: 5px 100px;
    }

    .about li:first-child {
        margin-top: 0;
    }
    
    .about-box li {
        text-align: left;
        margin-right: 0;
        margin-left: 0;
        padding: 0 5%;
        line-height: 1.6;
        letter-spacing: 0.05em;
        word-break: break-all
    }

    .about-box {
        display: flex;
        flex-direction: column;
        background-repeat: no-repeat;
        margin-bottom: 100px;
    }

    .about-img {
        text-align: center;
    }
    .about-img img {
        width: 60%;

    }

    /*skill*/
    .skill h3 {
        margin-top: 20px;
    }

    .skill h3:first-child {
        margin-top: 0;
    }

    .rectangle,
    .rectangle2 {
        display: flex;
        flex-direction: column;
    
    }

    .text-layout {
        margin-top: 10px;
        margin-right: 0px;
    }

    .tool-layout {
        text-align: center;
        margin-top: 10px;
        margin-right: 0;
        margin-bottom: 30px;
    }

    .tool-layout img {
        width: 35%;
    }

    .office-layout {
        width: auto;
        margin-top: 10px;
    }


    /*works*/
    .works-title {
        margin-bottom: 50px;
    }

    .works p {
        padding-top: 5px;
        line-height: 1.6;
    }

    .contents-text {
        font-size: 1.2rem;
    }

    .move {
        height: 230px;
    }

    .contener {
        max-width: 370px;
        height: auto;
        margin: 30px auto;
    }/*wapperにいれるとPC版で崩れるため真ん中に持ってくるための設定*/

    /*contact*/
    .contact {
        padding-bottom: 300px;
    }

    .form-box {
        width: 100%;
    }

    form p {
        font-size: 0.9rem;
    }

    input[type="text"],
    input[type="email"],
    textarea {
        width: 130%;
    }

    input[type="text"],
    input[type="email"] {
        height: 2rem;
    }

    textarea {
        height: 10rem;
    }

    /*footer*/
    footer::before {
        background-image: url(../images/footer_sp.png);
        background-position: center bottom;
        background-repeat: no-repeat;
        width: 100%;
        height: 150px;
        top: -150px;
        left: 0;
    }

    .topbtn {
        right: 10px;
        bottom: 50px;
    }

    .sitemap {
        right: 150px;
        bottom: 45px;
        display: flex;
    }

    .sitemap a {
        padding-right: 20px;
    }


}