
:root {
    --font-family-noto: "Noto Sans JP", sans-serif;
    --font-weight-noto-regular: 400;
    --font-weight-noto-medium: 500;
    --font-weight-noto-bold: 700;
    --font-family-roboto: 'Roboto', sans-serif;
    --font-weight-roboto-regular: 400;
    --font-weight-roboto-medium: 500;
    --font-weight-roboto-bold: 700;
    --main-color: #DD1B57;
    --base-color: #fff;
    --font-color: #333333;
    --gray-font-color: #F2F2F2;
}

.Main_Visual {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 600px;
    background-image: url(../images/pc_mv.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

@media (max-width: 768px) {
    .Main_Visual {
        background-image: url(../images/sp_mv.jpg);
    }
}

.Lead {
    text-align: center;
}

.Lead_Title {
    color: var(--base-color);
    font-size: 160px;
    font-family: var(--font-family-roboto);
    font-weight: var(--font-weight-roboto-bold);
    line-height: 1;
}

@media (max-width: 768px) {
    .Lead_Title {
        font-size: 80px;
    }
}

.Lead_Subtile {
    font-size: 24px;
    color: var(--base-color);
    font-family: var(--font-family-noto);
    font-weight: var(--font-weight-noto-bold);
    letter-spacing: 0.05em;
    line-height: 1;
    margin-top: 10px;
}

@media (max-width: 768px) {
    .Lead_Subtile {
        font-size: 20px;
        letter-spacing: 0.1em;
    }
}

.News {
    max-width: 1110px;
    margin: auto;
    padding: 60px 20px 0;
}

@media (max-width: 768px) {
    .News {
        padding-top: 40px;
    }
}

.News_Inner {
    display: flex;
    column-gap: 90px;
}

@media (max-width: 768px) {
    .News_Inner {
        flex-direction: column;
        row-gap: 20px;
    }
}

.News_Headline {
    color: var(--main-color);
    font-size: 40px;
    font-family: var(--font-family-noto);
    font-weight: var(--font-weight-noto-bold);
    letter-spacing: 0.05em;
}

@media (max-width: 768px) {
    .News_Headline {
        font-size: 32px;
    }
}

.News_List {
    flex: 1;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}

.News_List__Item {
    width: 100%;
    border-bottom: 1px solid #E8E8E8;
}

.News_List__Link {
    display: flex;
    align-items: baseline;
    flex-direction: row-reverse;
    justify-content: flex-end;
    column-gap: 20px;
    padding-bottom: 15px;
}

@media (max-width: 768px) {
    .News_List__Link {
        flex-direction: column-reverse;
    }
}

.News_List__Title:hover,
.News_List__Date:hover {
    color: var(--main-color);
}

.News_List__Title {
    flex: 1;
    color: var(--font-color);
    font-size: 15px;
    font-family: var(--font-family-noto);
    font-weight: var(--font-weight-noto-medium);
    line-height: 1.8;
}

@media (max-width: 768px) {
    .News_List__Title {
        font-weight: var(--font-weight-noto-regular);
    }
}

.News_List__Date {
    color: var(--font-color);
    font-size: 15px;
    font-family: var(--font-family-roboto);
    font-weight: var(--font-weight-roboto-medium);
    line-height: 1.8;
}

.Service {
    padding: 95px 20px 100px;
}

@media (max-width: 768px) {
    .Service {
        padding-top: 52px;
        padding-bottom: 60px;
    }
}

.Service_Inner {
    max-width: 1110px;
    margin: auto;
}

.Headline_Wrapper {
    position: relative;
}

.Headline_Wrapper:after {
    content: 'SERVICE';
    position: absolute;
    top: -44px;
    right: -20px;
    display: block;
    font-size: 168px;
    color: var(--gray-font-color);
    font-family: var(--font-family-roboto);
    font-weight: var(--font-weight-roboto-bold);
    line-height: 1;
    z-index: -1;
}

@media (max-width: 768px) {
    .Headline_Wrapper:after {
        top: 0;
        font-size: 70px;
    }
}


.Service_Headline {
    color: var(--main-color);
    font-size: 40px;
    font-family: var(--font-family-noto);
    font-weight: var(--font-weight-noto-bold);
    letter-spacing: 0.05em;
}

@media (max-width: 768px) {
    .Service_Headline {
        font-size: 32px;
    }
}

.Service_List {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    column-gap: 30px;
    margin-top: 50px;
}

@media (max-width: 768px) {
    .Service_List {
        grid-template-columns: 1fr;
        row-gap: 20px;
        margin-top: 20px;
    }
}

.Service_List__Item {
    display: grid;
    background-color: var(--base-color);
    text-align: center;
    place-items: center;
    border-radius: 8px;
    box-shadow: 0 3px 21px  rgb(0 0 0 / 16%);
    padding: 50px;
}

@media (max-width: 768px) {
    .Service_List__Item {
        padding: 30px;
    }
}

.Service_List__Item img {
    width: 48px;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    order: 1;
    margin-bottom: 5px;
}

@media (max-width: 768px) {
    .Service_List__Item img {
        width: 60px;
    }
}

.Service_List__Title {
    color: var(--font-color);
    font-size: 18px;
    font-family: var(--font-family-noto);
    font-weight: var(--font-weight-noto-bold);
    order: 2;
    margin-bottom: 15px;
}

@media (max-width: 768px) {
    .Service_List__Title {
        font-size: 16px;
        order: 2;
    }
}

.Service_List__Text {
    color: var(--font-color);
    font-size: 14px;
    font-family: var(--font-family-noto);
    font-weight: var(--font-weight-noto-medium);
    line-height: 1.7;
    order: 3;
}

@media (max-width: 768px) {
    .Service_List__Text {
        text-align: left;
    }
}

